.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the button is centered vertically */
}

/* Style for the button (optional) */
.button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color, change as needed */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
  }